{
  :linux {
    :keywords ["linux"],
    :exclude ["gnu" "kernel"],
    :messages {
      :en ["BTW, it's called GNU/Linux" "Linux is only the kernel, the OS is GNU/Linux"]
      :fr ["Il faut dire GNU/Linux" "Ca s'appelle GNU/Linux" "Linux n'est que le noyau... C'est GNU/Linux l'OS"]
      :ja ["GNU/Linuxだよ！" "正しくは「GNU/Linux」だよ"]
      :de ["Sie müssen GNU/Linux sagen!"]
      :ar [" يجب ان تقول GNU/Linux‎" "لا انه GNU / LINUX"]
      :ru ["Кстати, это называется GNU / Linux"]
      :cn ["你应该说GNU/ Linux。"]
    }
  },
  :opensource {
    :keywords ["opensource"],
    :exclude ["free software"],
    :messages {
      :en [
        "Free Software is better. http://www.fsf.org/"
        "Open Source misses the point! https://www.gnu.org/philosophy/open-source-misses-the-point.html"
      ],
      :fr [
        "C'est mieux de dire Logiciel Libre http://www.fsf.org/"
        "Open Source est à côté de la plaque https://www.gnu.org/philosophy/open-source-misses-the-point.fr.html"
      ],
      :de [
        "Open Source verfehlt das Ziel https://www.gnu.org/philosophy/open-source-misses-the-point.de.html"
      ],
      :ja [
        "オープンソースは自由ソフトウェアの的を外すよ https://www.gnu.org/philosophy/open-source-misses-the-point.ja.html"
      ]
      :ar [
                                  "المصادر المفتوحة لا تفي بغرض البرمجيات الحرة"
                                  "المصادر المفتوحة لم تفهم غرض البرمجيات الحرة" ‎
      ]
      :ru ["Свободное программное обеспечение лучше. http://www.fsf.org/"]
      :cn ["自由软件是最好的。 https://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6"]
    }
  },
  :facebook {
    :keywords ["facebook", "zuckerberg", "markzuckerberg"],
    :exclude [],
    :messages {
      :en [
        "Facebook is mass surveillance https://stallman.org/facebook.html"
      ]
    }
  }
}
